<h2> <%= link_to "Home", "/" %> </h2>
<h2>Edit Article</h2>

<%= form_tag "/articles/#{@article.id}", :method => "patch" do %>
  <p><label>Title:</label> <input name="title" value="<%= @article.title %>"></p>
  <p><label>URL:</label> <input name="link" value="<%= @article.link %>"></p>
  <p><label>Comment:</label></p>
  <textarea name="comment" cols="80" rows="3"><%= @article.comment %></textarea>
  <p><input type="submit"></p>
<% end %>