<div class="page-header">
  <h1>Sign Up</h1>
</div>

<% if @user.errors.any? %>
  <ul class="list-unstyled text-danger">
    <% @user.errors.full_messages.each do |msg| %>
      <li><strong><%= msg %></strong></li>
    <% end %>
  </ul>
<% end %>

<%= form_tag "/users" do %>

  <p><label>Name:</label> <input name="name"></p>
  <p><label>Email:</label> <input name="email"></p>

  <p>
    <%= label_tag :password, "Password:" %>
    <%= password_field_tag :password %>
  </p>

  <p>
    <%= label_tag :password_confirmation, "Password Again:" %>
    <%= password_field_tag :password_confirmation %>
  </p>

  <p><input type="submit"></p>

<% end %>
